/*Procuratio Login*/

/*Fundo tela*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: #d3d3d3;
  color: white;
  border-radius: 10px;
}

/*Para as informações Ficarem uma do lado da outra - HOME*/
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #2e747d;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
}

header .simboloP {
  height: 60px;
  width: 60px;
  background-color: #0f1f25;
  color: #2e747d;
  border-radius: 100%;
  font-size: 50px;
  font-weight: 700;
  font-family: "Raleway";
  text-align: center;
}

header .logo {
  font-size: 32px;
  color: #0a1d2f;
  font-weight: 700;
  font-family: "Raleway";
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 13px;
}

a.opcoes {
  text-decoration: none;
  color: #17303a;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
}

a.opcoes:hover,
a.opcoes.selecionado {
  color: #ffffff !important;
}

.btn {
  float: right;
  font-weight: 500;
  font-size: 16px;
  background-color: #0a83c1;
  border: 2px solid #0a83c1;
  backdrop-filter: blur(2px);
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  min-width: 163px;
}

.row {
  display: flex;
}

.btn.btn-cadastrar {
  border: 2px solid #ffffff;
  border-radius: 8px;
  background-color: #2e747d;
}

.btn-header-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.banner {
  position: relative;
  height: 675px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.banner-content {
  margin-right: 37px;
}

.banner::after {
  content: "";
  background-image: linear-gradient(
      270.51deg,
      rgba(18, 69, 89, 0.5) 45.19%,
      rgba(0, 0, 0, 0.5) 71%,
      rgba(0, 0, 0, 0) 97.93%
    ),
    url("Imagens/banner.png");
  backdrop-filter: blur(2px);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
  z-index: -1;
}

.banner .coluna-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
  align-items: flex-start;
}

.banner .coluna-1 > div > h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 100%;
}
div.banner-caption {
  font-size: 20px;
  line-height: 100%;
  font-style: normal;
  font-weight: 500;
}

.cima h1 {
  margin-left: 70%;
  margin-top: 5%;
  width: 555px;
  top: 289px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 50px;
  color: #ffffff;
}

.cima a {
  margin-left: 50%;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn.saibamais {
  color: #ffffff;
  border-color: #264246;
  background: #264246;
}

.quem-somos {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 32px;
  gap: 94px;
  color: #17303a;
}

.quem-somos .coluna-1 > img {
  max-width: 422px;
  height: auto;
}

.quem-somos .coluna-2 > h1 {
  margin-top: 46px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
}

.quem-somos .coluna-2 .texto > p {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #333333;
}

.meioSimboloLogo {
  display: flex;
}

.quem-somos .simboloP {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #0f1f25;
  color: #d3d3d3;
  font-size: 40px;
  font-weight: bold;
  font-family: "Raleway";
  font-style: normal;
  text-align: center;
}

.quem-somos .logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.mapa {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
  padding-bottom: 15%;
  position: relative;
  height: 0;
}

.mapa iframe {
  width: 259px;
  height: 193px;
  border: none;
}

footer .baixo {
  display: flex;
  background-color: #17303a;
  color: #ffffff;
  padding: 58px;
  gap: 13px;
}

footer .baixo .coluna-1 {
  margin-right: 62px;
  display: flex;
  flex-direction: column;
}

footer .baixo .coluna-1 > h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 8px;
}

footer .baixo .coluna-1 > a {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  color: #ffffff;
  margin-top: 8 px;
  text-decoration: none;
}

.copyright {
  background-color: #0f1f25;
  padding: 16px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}


/*TELA DE LOGIN*/

.containerLogin{
  flex: 1;
  background-image: url('Imagens/custos-logísticos-de-transporte\ 1.png'); 
  opacity: 0.6;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.containerBemVindo{
  margin: auto;
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 20px;

  position: absolute;
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  left: 0;
  top: 0;
  right: 0;
  width: 50vw;
  height: 350px;
  
  left: 0px;
  top: 70px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
  
}

.containerSimboloPeLogo{
  display:flex;
  margin: auto;
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 20px;

  position: absolute;
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: center;
  left: 0;
  top: 0;
  right: 0;
  width: 50vw;
  height: 150px;
  
  left: 0;
  top: 130px;
}

.containerSimboloPeLogo .logo{
  font-family: 'Raleway';
  font-size: 25px;
  color: #0A1D2F;
  flex-grow: 0;
  margin-left: 10px;
  text-align: left;
  
}

.containerSimboloPeLogo .simboloP{
  padding: 5px;
  background: #0F1F25;
  color: #FFFFFF;
  border-radius: 100%;
  font-size: 30px;
  height: 40px;
  width: 40px;
  font-weight: bold;
  font-family: 'Raleway';
  font-style: normal;
  text-align: center;

}

.containerBemVindo > .btn-entrar,
.containerBemVindo > .btn-cadastrar {
  float: right;
  font-size: 25px;
  background: #0a83c1;
  backdrop-filter: blur(2px);
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  padding: 10px;
}

.containerBemVindo .btn-esqueceuasenha{
    float: right;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
  }

  .containerBemVindo .btn-naopossuicadastro{
    float: left;
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;

  }

  /* Deixar Nomes Usuário e Senha ao lado da caixa de digitação */
.col-25 {
  font-size: 16px;
}

/*Centralizar os nomes Usuário e Senha*/
label {
  padding: 12px 0px 0px 0px;
  display: inline-block;
}
  
  /* Organiza a caixa de login */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 
  /*Configurações Caixa Login, tamanho da caixa de texto*/
  input[type=text], input[type=password], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(25, 14, 14);
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }



  /*TELA CADASTRAR-SE*/

  .containerSimboloPeLogo2{
    display:flex;
    margin: auto;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 20px;
  
    position: absolute;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: center;
    left: 0;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100px;
    
    left: 0;
    top: 30px;
  }
  
  .containerSimboloPeLogo2 .logo{
    font-family: 'Raleway';
    font-size: 25px;
    color: #0A1D2F;
    flex-grow: 0;
    margin-left: 10px;
    text-align: left;
    
  }
  
  .containerSimboloPeLogo2 .simboloP{
    padding: 5px;
    background: #0F1F25;
    color: #FFFFFF;
    border-radius: 100%;
    font-size: 30px;
    height: 40px;
    width: 40px;
    font-weight: bold;
    font-family: 'Raleway';
    font-style: normal;
    text-align: center;
  
  }

  .containerBemVindoCadastrar{
    height: 100vh;
    margin: auto;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 20px;
  
    position: absolute;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: center;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 530px;
    
    top: 60px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #000000;
    
  }
    
  .containerBemVindoCadastrar .btn-cadastrar {
    float: right;
    font-size: 25px;
    background: #0A83C1;
    backdrop-filter: blur(2px);
    border-radius: 8px;  
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    padding: 10px;
  }



  /*TELA OPÇÕES*/

  
  /*Empresas*/

  .containerEmpresas{
    color:  #17303A;
    box-sizing: border-box;

    position: absolute;
    width: 20vw;
    height: 300px;
    left: 95px;
    top: 25%;

    background: #FFFFFF;

    border: 1px solid #0F1F25;
    border-radius: 20px;
  }

  .containerEmpresas h3{
    text-align: center;
    padding: 10px;
  }

  .containerEmpresas p{
    text-align: justify;
    padding: 10px;
  }

  .containerEmpresas .btn-acessar{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    margin-left: 25%;  
    width: 163px;
    height: 40px;
    background: #0A83C1;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }


  /*Colaboradores*/

  .containerColaboradores{
    margin-left: 20%;
    color:  #17303A;
    box-sizing: border-box;

    position: absolute;
    width: 20vw;
    height: 300px;
    left: 120px;
    top: 25%;

    background: #FFFFFF;

    border: 1px solid #0F1F25;
    border-radius: 20px;
    
  }

  .containerColaboradores h3{
    text-align: center;
    padding: 10px;
  }

  .containerColaboradores p{
    text-align: justify;
    padding: 10px;
  }

  .containerColaboradores .btn-acessar{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    margin-left: 25%;  
    width: 163px;
    height: 40px;
    background: #0A83C1;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }




    /*Funções*/

  .containerFuncoes{
    margin-left: 45%;
    color:  #17303A;
    box-sizing: border-box;
    position: absolute;
    width: 20vw;
    height: 300px;
    left: 60px;
    top: 25%; 

    background: #FFFFFF;
  
    border: 1px solid #0F1F25;
    border-radius: 20px;
      
  }
  
  .containerFuncoes h3{
    text-align: center;
    padding: 10px;
  }
  
  .containerFuncoes p{
    text-align: justify;
    padding: 10px;
  }
  
  .containerFuncoes .btn-acessar{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    margin-left: 25%;  
    width: 163px;
    height: 40px;
    background: #0A83C1;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }



    /*Relatórios*/

  .containerRelatorios{
    margin-left: 70%;
    color:  #17303A;
    box-sizing: border-box;
  
    position: absolute;
    width: 20vw;
    height: 300px;
    left: 0px;
    top: 25%;  

    background: #FFFFFF;
  
    border: 1px solid #0F1F25;
    border-radius: 20px;
      
  }
  
  .containerRelatorios h3{
    text-align: center;
    padding: 10px;
  }
  
  .containerRelatorios p{
    text-align: justify;
    padding: 10px;
  }
  
  .containerRelatorios .btn-acessar{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    margin-left: 25%;  
    width: 163px;
    height: 40px;
    background: #0A83C1;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }


    /*CROUD EMPRESAS*/

  .caminhoCroudEmpresas {
    width: 100vw;
    background: #41585B;
  }

  .buscarEmpresa{
    margin: auto;
    border-radius: 20px;
    background-color: #D3D3D3;
  
    position: center;
    width: 700px;
    
    top: 150px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    color: #000000;
  }

  .buscarEmpresa .btn-novaEmpresa{
    margin-top: 5px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    width: 130px;
    height: 40px;
    background: #0A83C1;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }

  .containerEmpresaSelecionada{
    border-radius: 20px;
    margin: auto;
    background-color: #FFFFFF;
    padding: 20px;
  
    position: absolute;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: center;
    left: 0;
    top: 0;
    right: 0;
    width: 745px;
    height: 250px;
    
    top: 260px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #000000;
    
  }

  .containerEmpresaSelecionada h3{
    color: #17303A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .containerEmpresaSelecionada p{
    color: #333333;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
  }

  .btn-excluirEmpresa{
    margin-left: 30%;
    margin-top: 5px;
    color: #DE1515;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    width: 130px;
    height: 40px;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    line-height: 100%;
  }

  .btn-editarCadastro{
    margin-top: 5px;
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    width: 130px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 8px;
    border-color: #000000;
    cursor: pointer;
    line-height: 100%;
  }

  /*Confirmação de exclusão de Empresa*/

  .confirmarExclusãoEmpresa{
    border-radius: 20px;
    margin: auto;
    background-color: #FFFFFF;
    padding: 20px;
  
    position: absolute;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: center;
    left: 0;
    top: 0;
    right: 0;
    width: 745px;
    height: 200px;
    
    top: 500px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #000000;

  }

  .confirmarExclusãoEmpresa h3{
    color: #17303A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .confirmarExclusãoEmpresa p{
    color: #333333;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
  }

  .confirmarExclusãoEmpresa .btn-cancelar{
    margin-left: 30%;
    margin-top: 5px;
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    width: 130px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 8px;
    border-color: #000000;
    cursor: pointer;
    line-height: 100%;
  }

  .confirmarExclusãoEmpresa .btn-simExcluir{
    margin-top: 5px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    width: 130px;
    height: 40px;
    border: none;
    background-color: #E82929;
    cursor: pointer;
    line-height: 100%;
    border-radius: 8px;

  }



  /*CADASTRO DE EMPRESA */

  .cadastroEmpresaCard {
    margin: 40px 108px 0 108px;
  }

  .cadastroEmpresaCardBody {
    margin-bottom: 3%;
    padding: 20px 94px 0;
    background-color: white;
    color:#333333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cadastroEmpresaCardField {
    flex: 0 1 45%;
  }
  .cadastroEmpresaCardAddress {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cadastroEmpresaCardButtons {
    flex: 0 0 100%;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    gap: 20px;
  }
  .cadastroEmpresaCardButtons .btn-cadastrarEmpresa {
    font-size: 16px;
    background: #0A83C1;
    backdrop-filter: blur(2px);
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    padding: 12px 24px;
  }
  .cadastroEmpresaCardButtons .btn-cancelar {
    font-size: 16px;
    background: #FFFFFF;
    color: #356F8D;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: #356F8D;
    padding: 12px 24px;
    margin-left: auto;
  }

  .novoCadastroEmpresa{
    width: 100%;
    height: 55px;
    background: #333333;
    border-radius: 20px 20px 0px 0px;
    padding-left: 94px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }

  .opcoesCadastroEmpresaEsquerda{
    margin-left: 50px;
    padding: 20px;
    position: absolute;
    top: 50px;
    width: 39.5vw;
    height: 480px;
    left: 108px;
    top: 180px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: 0;
    border-bottom: 20px;
    border-right: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 0;

  }

  .opcoesCadastroEmpresaEsquerda .opcoesCadastroEmpresaCepBairro{
    display:flex;
    justify-content: space-between;
  }

  .opcoesCadastroEmpresaDireita{
    margin-left: 50px;
    padding: 20px;
    position: absolute;
    top: 50px;
    width: 39.5vw;
    height: 480px;
    left: 46.3%;
    top: 180px;

    background: #FFFFFF;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-top: 0;
    border-bottom: 20px;
    border-left: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .opcoesCadastroEmpresaDireita .opcoesCadastroEmpresaNumeroComplemento{
    display:flex;
    justify-content: space-between;
  }

  .opcoesCadastroEmpresaDireita .opcoesCadastroEmpresaUfCidade{
    display:flex;
    justify-content: space-between;
  }

  .opcoesCadastroEmpresaDireita .btn-cadastrarEmpresa {
    float: right;
    font-size: 16px;
    background: #0A83C1;
    backdrop-filter: blur(2px);
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    padding: 12px 24px;
  }

  .opcoesCadastroEmpresaDireita .btn-cancelar {
    float: right;
    font-size: 16px;
    background: #FFFFFF;
    color: #356F8D;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: #356F8D;
    padding: 12px 24px;
  }

  /*EDITAR DADOS EMPRESA*/

  .editarDadosEmpresa{
    padding: 20px;
    margin-left: 50px;
    position: absolute;
    width: 78.8vw;
    height: 55px;
    left: 108px;
    top: 130px; 
    background: #333333;
    border-radius: 20px 20px 0px 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }

  .opcoesCadastroEmpresaDireita .btn-editarEmpresa {
    float: right;
    font-size: 16px;
    background: #0A83C1;
    backdrop-filter: blur(2px);
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    padding: 12px 24px;
  }




      /*CROUD COLABORADOR*/

      .caminhoCroudColaborador {
        position: absolute;
        width: 100vw;
        left: 0px;
        background: #41585B;
        padding: 10px;
      }
    
      .buscarColaborador{
        margin: auto;
        border-radius: 20px;
        background-color: #D3D3D3;
      
        position: center;
        width: 700px;
        
        top: 150px;
        font-family: 'Roboto';
        font-style: normal;
        font-size: 16px;
        color: #000000;
      }
    
      .buscarColaborador .btn-novoColaborador{
        margin-top: 5px;
        color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-size: 16px;
        width: 130px;
        height: 40px;
        background: #0A83C1;
        border-radius: 8px;
        border: none;
        cursor: pointer;
      }
    
      .containerColaboradorSelecionado{
        border-radius: 20px;
        margin: auto;
        background-color: #FFFFFF;
        padding: 20px;
      
        position: absolute;
        
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: center;
        left: 0;
        top: 0;
        right: 0;
        width: 745px;
        height: 250px;
        
        top: 260px;
      
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color: #000000;
        
      }
    
      .containerColaboradorSelecionado h3{
        color: #17303A;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
      }
    
      .containerColaboradorSelecionado p{
        color: #333333;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        display: flex;
        align-items: center;
      }
    
      .btn-excluirColaborador{
        margin-left: 30%;
        margin-top: 5px;
        color: #DE1515;
        font-family: 'Roboto';
        font-style: normal;
        font-size: 16px;
        width: 130px;
        height: 40px;
        border: none;
        background-color: #FFFFFF;
        cursor: pointer;
        line-height: 100%;
      }
    
      .btn-editarCadastro{
        margin-top: 5px;
        color: #000000;
        font-family: 'Roboto';
        font-style: normal;
        font-size: 16px;
        width: 130px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 8px;
        border-color: #000000;
        cursor: pointer;
        line-height: 100%;
      }
    
      /*Confirmação de exclusão de Empresa*/
    
      .confirmarExclusãoColaborador{
        border-radius: 20px;
        margin: auto;
        background-color: #FFFFFF;
        padding: 20px;
      
        position: absolute;
        
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: center;
        left: 0;
        top: 0;
        right: 0;
        width: 745px;
        height: 200px;
        
        top: 500px;
      
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color: #000000;
    
      }
    
      .confirmarExclusãoColaborador h3{
        color: #17303A;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
      }
    
      .confirmarExclusãoColaborador p{
        color: #333333;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        display: flex;
        align-items: center;
      }
    
      .confirmarExclusãoColaborador .btn-cancelar{
        margin-left: 30%;
        margin-top: 5px;
        color: #000000;
        font-family: 'Roboto';
        font-style: normal;
        font-size: 16px;
        width: 130px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 8px;
        border-color: #000000;
        cursor: pointer;
        line-height: 100%;
      }
    
      .confirmarExclusãoColaborador .btn-simExcluir{
        margin-top: 5px;
        color: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-size: 16px;
        width: 130px;
        height: 40px;
        border: none;
        background-color: #E82929;
        cursor: pointer;
        line-height: 100%;
        border-radius: 8px;
    
      }



      
    /*CROUD FUNÇÕES*/

  .caminhoCroudFuncoes {
    position: absolute;
    width: 100vw;
    left: 0px;
    background: #41585B;
    padding: 10px;
  }

  .buscarFuncao{
    margin: auto;
    border-radius: 20px;
    background-color: #D3D3D3;
  
    position: center;
    width: 700px;
    
    top: 150px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    color: #000000;
  }

  .buscarFuncao2{
    display:flex;
    justify-content: space-between;
    margin: auto;
    border-radius: 20px;
    background-color: #D3D3D3;
  
    position: center;
    width: 700px;
    
    top: 150px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    color: #000000;
  }
  

  .buscarFuncao2 .btn-novaFuncao{
    margin-left: 10px;
    margin-top: 5px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    width: 150px;
    height: 40px;
    background: #0A83C1;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }




